USE [master]
GO
/****** Object:  Database [NodejsTest]    Script Date: 4/12/2018 5:54:04 PM ******/
CREATE DATABASE [NodejsTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NodejsTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\NodejsTest.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NodejsTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\NodejsTest_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NodejsTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NodejsTest]
GO
/****** Object:  User [gouser]    Script Date: 4/12/2018 5:54:04 PM ******/
CREATE USER [gouser] FOR LOGIN [gouser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[MyTable]    Script Date: 4/12/2018 5:54:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyTable](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MyKey] [nvarchar](200) NULL,
	[MyValue] [nvarchar](max) NULL,
	[Timestamp] [datetime] NULL,
 CONSTRAINT [PK_MyTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[MyTable] ON 

INSERT [dbo].[MyTable] ([Id], [MyKey], [MyValue], [Timestamp]) VALUES (1, N'abc', N'John1', CAST(N'2018-04-12 17:10:15.097' AS DateTime))
INSERT [dbo].[MyTable] ([Id], [MyKey], [MyValue], [Timestamp]) VALUES (2, N'abc', N'John2', CAST(N'2018-04-12 17:11:42.643' AS DateTime))
INSERT [dbo].[MyTable] ([Id], [MyKey], [MyValue], [Timestamp]) VALUES (3, N'abc', N'John3', CAST(N'2018-04-12 17:13:23.480' AS DateTime))
SET IDENTITY_INSERT [dbo].[MyTable] OFF
USE [master]
GO
